/* Base styles */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #edfcff;
    background-color: #f5e3ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.52'%3E%3Cpath fill='%23f0e2ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ebe0ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e6dfff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23e0ddff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23dbdcff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23dae2ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23d9e7ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23d7edff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d6f2ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23d4f8ff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; 
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.header {
    padding-top: 3em;
    margin: 0;
    height: 10vh;
    margin: 0 auto;
    text-align: center;

    background: linear-gradient(38deg, #20bc94, #757eba, #804598);
    background-size: 600% 600%;
    -webkit-animation: gradient-rotate 29s ease infinite;
    -moz-animation: gradient-rotate 29s ease infinite;
    -o-animation: gradient-rotate 29s ease infinite;
    animation: gradient-rotate 29s ease infinite 
}

@keyframes gradient-rotate {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.footer {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 1em 0;
    margin: 0;
    height: auto;
    margin: 6em auto 0 auto;
    text-align: center;

    background: linear-gradient(38deg, #20bc94, #757eba, #804598);
    background-size: 600% 600%;
    -webkit-animation: gradient-rotate 29s ease infinite;
    -moz-animation: gradient-rotate 29s ease infinite;
    -o-animation: gradient-rotate 29s ease infinite;
    animation: gradient-rotate 29s ease infinite 
}

@keyframes gradient-rotate {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
    

.footer > p > a {
    color: rgb(255, 166, 0);  
    text-decoration: none;
    transition-duration: 1s;
}

.footer > p > a:hover {
    color: #fff;    
}

/* ------------- */

/* Navigation styles */

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    margin-right: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    border-radius: 25px;
}

.nav a {
    text-decoration: none;
    padding: 0 1em;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.5s;
    border-radius: 25px;
}

.nav a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 25px;
}

.nav a:active { 
    background-color: #000;
    color: #fff;
    
}


/* ------------------------------ */

/* Styles for headings */

.title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    padding: 0.5em 0;
}

.sub-title {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    padding: 1.2em 0; 
}

.sub-title > a {
    color: rgba(32,124,229,1);
    transition-duration: 1s;
}

.sub-title > a:hover {
    color: rgb(255, 166, 0);
}

.landing-title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    margin-bottom: 0.3em;
    font-weight: 100;
    text-align: center;
  }
  
.landing-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1.4em;
    margin-top: 1em;
    text-align: left;
    background: rgba(0, 0, 0, 0.075);
    padding: 2em;
    border-radius: 25px;
  }

/* -------------- */

/* Scroll button */

.scroll-btn {
    width: 18%;
    font-size: 2.2em;
    display: block;
    background: linear-gradient(38deg, #20bc80, #8586d3, #c94fb9);
    background-size: 600% 600%;
    -webkit-animation: gradient-rotate 29s ease infinite;
    -moz-animation: gradient-rotate 29s ease infinite;
    -o-animation: gradient-rotate 29s ease infinite;
    animation: gradient-rotate 29s ease infinite;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 25px;
    text-shadow: 2px 2px 7px #666666;
    -webkit-box-shadow: 1px 1px 3px #666666;
    -moz-box-shadow: 1px 1px 3px #666666;
    box-shadow: 1px 1px 3px #666666;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 0.2em 0.4em;
    cursor: pointer;
    text-align: center;
    margin: 0 auto 10em auto;
    text-decoration: inherit;
    transition: 1s;
  }

  .scroll-btn:hover {
    background: linear-gradient(38deg, #8ffadf, #acb5ee, #c78bdf);
    transition: 1s;
  }

  object > p {
      font-family: 'Open Sans', sans-serif;
  }

  object > p > a {
    color: rgba(32,124,229,1);
  }

  object > p > a:hover {
    color: rgb(255, 166, 0);
  }

  /* -------------- */

/* Contact section styles */
.contact-title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    padding: 1.2em 0 0.5em 0;
}

.contact-box {
    background: rgba(0, 0, 0, 0.5);
    width: 40%;
    height: auto;
    padding: 1em;
    margin: 0 auto 3em auto;
    border-radius: 25px;
}

.contact-box > p {
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.contact-box > p > a {
    color: rgb(255, 166, 0);
    transition-duration: 1s;
    margin-left: .5em;
}

.contact-box > p > a:hover {
    color: #fff;
}

/* ------------------------- */

/* About section styles */
.about-title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
    text-align: center;
    padding: 0.6em 0;
}

.aboutTextContainer{
    background: rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding: 2em;
    margin: 0 auto 3em auto;
    width: 60%;
}

.about-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: #000;
    text-align: left;
    padding: 0.5em 0;
    margin: 0;
}

.skillset{
    margin: auto auto;
    width: 60%;
    padding: 2em;
    background: rgba(0, 0, 0, 0.075);
    vertical-align: center;
    border-radius: 25px;
}
.skillset ul {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.skillset ul > li{
    padding: 0.4em 0;
}

/* ---------------------- */

/*Creations page project list*/

.projectlist {

}

.project{
    background: rgba(0, 0, 0, 0.075);
    width: 100%;
    padding: 1em 1em;
    margin-bottom: 2em;
    border-radius: 25px;
}

.project-title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0.5em auto;
}

.project-body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #000; 
}

.project-bodyText {
    width: 60%;
    margin: 1em auto 3em auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 1em;
    text-indent: 1em;
    border-radius: 25px;
}

.project-body > a {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
}

.project > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-self: center;
}

.project-footer{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    padding: 0.6em 0 2em 0;
}

.project-btn {
    width: 18%;
    font-size: 1.5em;
    display: block;
    background: linear-gradient(#739fff, #588dff);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 25px;
    text-shadow: 2px 2px 7px #666666;
    -webkit-box-shadow: 1px 1px 3px #666666;
    -moz-box-shadow: 1px 1px 3px #666666;
    box-shadow: 1px 1px 3px #666666;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding: 0.2em 0.4em;
    cursor: pointer;
    margin: 0 auto;
  }

  .project-btn:hover {
    background: linear-gradient(#a0beff, #6c9aff);
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/* ----------------------------- */

/* Media queries */

@media (max-width: 1100px) {

    .title {
        font-size: 3rem;
    }

    #topBtn {
        font-size: 1.2rem;
        position: fixed;
        bottom: 3.5em;
        right: 1em;
    }

    .scroll-btn {
        width: 40%;
        font-size: 2rem;
    }
    
    .contact-box {
        width: 70%;
    }

    .contact-box > p {
        font-size: 1rem;
    }

    .contact-title {
        font-size: 3rem;
    }

    .project-btn {
        font-size: 1.5em;
        width: 30%;
      }

    .project-body > p {
        width: 70%;
        margin: 1em auto 3em auto;
    }

    .project-bodyText {
        width: 70%;
    }

    .about-text {
        font-size: 1.1em;
        padding: 0.7em 0;
    }

    .landing-title {
        font-size: 3rem;
      }
  
    .landing-desc {
        font-size: 1rem;
        width: 60%;

    }

    .aboutTextContainer{
        width: 70%;
    }

}

@media (max-width: 768px) {

    .nav li {
        padding: 0.2em 0;
        font-size: 1.2em;
        width: 30%;
        margin: 0 auto;
    }

    .title {
        font-size: 2rem;
        padding: 1em;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .header {
        padding-top: 2em;
    }

    #topBtn {
        font-size: 1rem;
        position: fixed;
        bottom: 4em;
        right: 1em;
    }

    .scroll-btn {
        width: 40%;
        font-size: 2rem;
    }
    
    .contact-box {
        width: 80%;
    }

    .contact-box > p {
        font-size: 1rem;
        text-align: center;
    }

    .contact-title {
        font-size: 2rem;
        margin: 0;
    }

    .footer {
        font-size: 1rem;
    }

    .scroll-btn {
        font-size: 1.5em;
    }

    .project-btn {
        font-size: 1em;
        width: 40%;
    }

    .project-body {
        width: 100%;
    } 

    .project-body > p {
        width: 90%;
        margin: 1em auto 3em auto;
    }

    .skillset{
        width: 80%;
        padding: 1.5em;
    }
    
    .about-text {
        font-size: 1em;
        padding: 0.5 0;
        margin: 0;
    }

    .landing-title {
        font-size: 2rem;
      }
    
    .landing-desc {
        font-size: 1rem;
    }

    .project-bodyText {
        font-size: 1rem;
        width: 80%;
    }

    .header{
        height: 25vh;
    }

    .nav li {
        display: block;
    }

    .aboutTextContainer{
        width: 80%;
    }
}